# JWT Secrets (cambiar en producción)
JWT_SECRET=your-super-secret-jwt-key-change-in-production
JWT_REFRESH_SECRET=your-super-secret-refresh-key-change-in-production

###### Para docker-compose.yml
# Development DB
DATABASE_URL=postgresql://postgres:postgres@postgres:5432/ecommerce?schema=public
#
# Production DB
#DATABASE_URL=postgresql://ecommerce_app:password7890@postgres:5432/ecommerce?schema=public


#### Backend
CLOUDINARY_CLOUD_NAME="dufj9kvbq"
CLOUDINARY_API_KEY="648227578265276"
CLOUDINARY_API_SECRET="bqia6Np2ub6CJKGeadiGsZe1kh4"